:root{
    --grey: #333 
    
}
body{
    margin: 0;
    font-size: 1.1rem;
    font-family: 'PT Sans', sans-serif;
}
h1,h2{
    margin: 0;
}
nav{
    background: var(--grey);
    position: absolute;
    
    height: 3rem;
    width: 100%;
}
ul{
    display: inline;
}
.nav-item{
    display: inline;
    color: white;
    float: left;
    padding: 1rem 0;
    padding-left: 1.5rem;
    padding-right: 2rem;   
   
}

.nav-item:hover{
    background-color: grey;
}

.hero-sec{
   background-color: green;
   background-image: url(img/showcase.jpeg);
   background-size: cover;
   height: 100vh;
   z-index: 0;
   overflow: hidden;
  
}

.hero-content{
    color: white;
    text-align: center;
    position: relative;
    top: 30vh;
}

.hero-heading{
    font-size: 5rem;
    margin-bottom: 1.5rem;
}
.hero-h2{
    font-size: 2rem;
}
.hero-para{
    width: 80%;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 2rem;
}

.second-sec{
    
    padding: 3rem ;
    text-align: center;
    color: white;
    background-color: var(--grey);
    font-size: 1.5rem;
}
.trial-btn{
    color: white;
    background-color: #b90415;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
   
}

.trial-btn:hover{
    background-color: #d3071b;
}

.second-sec-para{
    
    margin: 2rem auto;
    
}

.third-sec{
    color: #333333;
    text-align: center;
    padding: 3rem;
}
.third-sec-heading{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.third-sec-para{
    width: 100%;
    margin: 2rem auto;
    font-size: 1.5rem;
}

.read-btn{
    color: white;
    background-color: #103063;
    text-decoration: none;
    padding: 1rem 2rem;
}

.forth-sec{
    background-image: url(../img/section-bg.jpeg);
    text-align: center;
    background-size: cover;
    padding: 2rem ;
    color: white;
    min-height:50vh;
    
}
.forth-sec-heading{
    font-size: 2rem;
    margin: auto;
    margin-top: 3rem;
}

.forth-sec-para{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    font-size: 1.5rem;
}


.gift-img{
    width: 90%;
    float: right;
    
}

.gift-sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   gap: 40px;
   margin: 2rem auto;
}
.gift-content{
    width: 90%;
}

.redeem-btn{
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
}

.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 2rem 5rem;
    background-color:#252529;
    column-gap: 20px;
}

.footer a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.footer a:hover{
    color: yellow;
}

.footer h3{
    color: white;
    margin: 0;
}

.footer-end{
    background-color: var(--grey);
    text-align:center ;
    padding: 2rem 0;
    color: white;
}

@media only screen and (max-width:768px) {
    .footer{
        display: none;
    }
    .gift-sec{
        display: block;
       margin: 0 1rem;
    }
   .nav-item, nav{
       display: none;
   }
    body{margin: auto ; }
    .hero-content{
        top:10vh
    }
    .hero-sec{
        90vh
    }
}